<mat-card>
  <mat-card-title>Novo Usuário</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome Completo"
              [(ngModel)]="user.name" name="name">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Email"
              [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone"
            [(ngModel)]="user.phone" name="phone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="******"
          [(ngModel)]="user.password" name="password">
  </mat-form-field>
  </form>
  <button mat-raised-button (click)="createUser()">
      Salvar
  </button>
</mat-card>
