<mat-card>
  <mat-card-title>Alterar Usuário</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
              [(ngModel)]="user.name" name="name">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Email"
              [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone"
            [(ngModel)]="user.phone" name="phone">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="updateUser()">
      Atualizar
  </button>
  <button mat-raised-button (click)="back()">
      Voltar
  </button>
</mat-card>
