.header {
  display: flex;
  align-items: center;
  background-color: #518FD8;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 75px;
}

.header .title-group {
  padding-right: 20px;
}
